
<div class="parent-container">
  <ul class="faq">
    <li>
      <h3 class="question">Frequently Asked Question?
        <div class="plus-minus-toggle collapsed"></div>
      </h3>
      <div class="answer">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
        ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
        fermentum risus. Phasellus venenatis ultricies dignissim.</div>
    </li>
    <li>
      <h3 class="question">Frequently Asked Question?
        <div class="plus-minus-toggle collapsed"></div>
      </h3>
      <div class="answer">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
        ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
        fermentum risus. Phasellus venenatis ultricies dignissim.</div>
    </li>
  </ul>
</div>