<h1 class="headline">FAQ - CMS</h1>
<div class="faq-wrapper">
  <!-- question for the FAQ starts here -->
  <input id="question1" type="checkbox" name="toggle" class="question" />
  <label for="question1" class="question">
    <i class="fas fa-question-circle fa-2x" style="color: grey;"></i>
    <p><strong style="color: black; font-weight: 700;">General:</strong> How do I login to the CMS?</p>
  </label>
  <section id="answer1">
    <p class="info-video">
      <iframe src="https://player.vimeo.com/video/292567812" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      If you don't have an access yet please get in touch with Anita Jos.
    </p>
  </section>
  <!-- question for the FAQ starts here -->
    <input id="question2" type="checkbox" name="toggle" class="question" />
  <label for="question2" class="question">
    <i class="fas fa-question-circle fa-2x"></i>
    <p><strong style="color: black; font-weight: 700;">General:</strong> how does the dashboard work?</p>
  </label>
  <section id="answer2">
    <p class="info-video">
      <iframe src="https://player.vimeo.com/video/292567842" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </p>
  </section>
  <!-- question for the FAQ starts here -->
    <input id="question3" type="checkbox" name="toggle" class="question" />
  <label for="question3" class="question">
    <i class="fas fa-question-circle fa-2x"></i>
    <p><strong style="color: black; font-weight: 700;">General:</strong> how do I delete links and logout?</p>
  </label>
  <section id="answer3">
    <p class="info-video">
      <iframe src="https://player.vimeo.com/video/292567897" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </p>
  </section>
  <!-- question for the FAQ starts here -->
    <input id="question4" type="checkbox" name="toggle" class="question" />
  <label for="question4" class="question">
    <i class="fas fa-question-circle fa-2x"></i>
    <p><strong style="color: black; font-weight: 700;">Profile:</strong> how do I change my profile information?</p>
  </label>
  <section id="answer4">
    <p class="info-video">
      <iframe src="https://player.vimeo.com/video/292567897" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </p>
  </section>
</div>